[Unit]
Description=FluxBB Activity Dashboard
After=network.target

[Service]
Type=simple
WorkingDiretory=/opt/fluxbb-activity
ExecStart=/usr/bin/python3 /opt/fluxbb-activity/fluxbb-activity.py /opt/fluxbb-activity/config.ini

[Install]
WantedBy=multi-user.target
